# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*
!web_server_api/
!*.php
!*.sql
!.gitattributes
!.gitignore
!readme.md
!LICENSE
!makefile
!acv2/libs/detours.pdb
!.gitkeep
!*.cpp
!*.h
!*.c
!*.sln
!*.vcxproj
!*.dll
!*.asi
!*.hpp
!*.lib
!*.def
!*.txt
!*.filters
!*.so
!*.a
!*.vmp
!*.inc
!*.nsi
!*.ico
!*.ipp
!*.pwn
!*.inl
!*.pdb
!*.ini
!*.exe
!*.nsh
!*.png
!*.rc
!*.enigma
!*/

*.suo
Release/sampac.lib
ACv2_Server/Debug/vc120.pdb
ACv2_Server/Release/vc120.pdb
acv2/Release/vc120.pdb